.model-opt {
    position: absolute;
    top: 20px;
    right: 20px; 
}

.model-opt .view-opt {
    background: #F5F5F5;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    overflow: hidden;
    padding: 15px 10px;
    display: block;
    margin-bottom: 6px; 
}

.model-opt .view-opt:hover {
    background-color: white;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1); 
}

.model-opt .zoom {
  background: #F5F5F5;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  overflow: hidden;
  padding: 4px;
  display: flex;
  align-items: center;
  width: 60px; 
}

.model-opt .zoom i {
  font-size: 16px;
  color: #AFAFAF; 
}

.model-opt .zoom input {
  flex-grow: 1;
  font-size: 11px;
  font-weight: 500;
  background-color: transparent;
  padding: 4px;
  min-height: 0; 
}

.model-opt .zoom input:focus {
  background-color: white;
  outline: none;
  color: #0F9DDD;
}

.model-opt .scene {
  width: 24px;
  height: 24px;
  perspective: 600px;
  margin: 0 auto;
  transition: perspective 1s linear, transform .2s ease; 
}

.model-opt .scene.perspective {
  perspective: 50px;
  transition: perspective 0.2s cubic-bezier(0.22, 0.61, 0.36, 1), transform 0.3s ease;
  transform: scale(0.9); 
}

.model-opt .cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(45deg) rotateZ(-22deg) rotateX(-20deg); 
}

.model-opt .face {
  width: 22px;
  height: 22px;
  position: absolute; 
}

.model-opt .face.top {
  background-color: #8C9BF4;
  transform: rotateX(-90deg) translateZ(-12px); 
}

.model-opt .face.left {
  background-color: #FFA0B6;
  transform: rotateY(-90deg) translateZ(12px); 
}

.model-opt .face.right {
  background-color: #62C5E8;
  transform: rotateY(180deg) translateZ(-12px); 
}