/* secondary_renderers.css */


/* Secondary Renderers submenu hidden by default */
header .submenu {
    position: absolute;
    transition: all .5s;
    pointer-events: none;
    z-index: 1;
    width: auto;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -20%);
    opacity: 0;
    visibility: hidden;
    background: #FEFEFE;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    padding: 10px;
    min-width: 225px; 
}

/* Adds a margin bottom of 10px to each li element of class submenu excepts by the last one */
header .submenu li:not(:last-child) {
    margin-bottom: 10px; 
}

/* Display the submenu on open-menu hover */
header .open-menu:hover .submenu {
    display: block;
    transform: translate(-50%, 0%);
    opacity: 1;
    visibility: visible;
    transition: all .3s;
    pointer-events: auto; 
}

/* Selectable renderers from the submenu */
header .submenu .label {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    line-height: normal;
    width: auto;
    height: auto;
    padding: 5px 10px;
    padding-right: 30px;
    background-color: #F5F5F5;
    border-radius: 10px;
    font-size: 13px;
    text-transform: uppercase;
    color: #666666;
    font-weight: 600;
    transition: all .3s; 
}

/* Changes the background color and text color on selectable renderer hover */
header .submenu .label:hover {
    background-color: #E4F7FF;
    color: #0F9DDD; 
}

/* Adds a margin between the image and the text of selectable renderer */
header .submenu .label img {
    margin-right: 13px; 
}


/* Adds a check icon at the end of label class when renderer is active */
header .submenu .active .label:after {
    content: 'check';
    font-family: 'Material Icons';
    text-transform: none;
    position: absolute;
    right: 10px;
    font-size: 20px;
    color: #ff7091;
    display: block; 
}

/* Adds a selected style to a selectable renderer and selectable renderer on hover when renderer is active */
header .submenu .active .label, 
header .submenu .active .label:hover {
    background-color: #ffedf1;
    color: #666666; 
}

/* Add style for disabled labels */
header .submenu .disabled .label {
    background-color: #F5F5F5;
    cursor: default;
}
header .submenu .disabled .label:after {
    content: 'block';
    font-family: 'Material Icons';
    text-transform: none;
    position: absolute;
    right: 10px;
    font-size: 20px;
    color: #a09f9f;
    display: block; 
}
header .submenu .disabled .label:hover {
    background-color: #F5F5F5;
    color: #666666;
}