/* secondary_renderers.css */

/* Header dropdown submenu style */ 
header #secondary_renderers_menu .submenu {
    min-width: 225px; 
}


/* Adds a margin between the image and the text of selectable renderer */
header #secondary_renderers_menu .submenu .label img {
    margin-right: 13px; 
}

/* Adds a selected style to a secondary renderer and secondary renderer on hover when renderer is active */
header #secondary_renderers_menu .submenu li.active .label, 
header #secondary_renderers_menu .submenu li.active .label:hover {
    background-color: #ffedf1;
    color: #666666; 
}
/* Adds a check icon at the end of label class when renderer is active */
header #secondary_renderers_menu .submenu li.active .label:after {
    content: 'check';
    font-family: 'Material Icons';
    text-transform: none;
    position: absolute;
    right: 10px;
    font-size: 20px;
    color: #ff7091;
    display: block; 
}

/* Add style for disabled secondary renderer labels */
header #secondary_renderers_menu .submenu li.disabled .label {
    background-color: #F5F5F5;
    cursor: default;
}
header #secondary_renderers_menu .submenu li.disabled .label:after {
    content: 'block';
    font-family: 'Material Icons';
    text-transform: none;
    position: absolute;
    right: 10px;
    font-size: 20px;
    color: #a09f9f;
    display: block; 
}
header #secondary_renderers_menu .submenu .disabled .label:hover {
    background-color: #F5F5F5;
    color: #666666;
}